
.landing-page{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #F5F5F5;
  display: flex;
  /* flex-wrap: wrap; */
}

.welcome-container {
  height: 500px;
  width: 1000px;
  position: relative;
  left: 20%;
  top: 35%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.welcome {
  min-width: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.landing-page-welcome h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  color: #282828;
}

.landing-page-welcome {
  display: flex;
}

.landing-page-logo {
  position: relative;
  bottom: 15px;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.welcome h4 {
  font-size: 20px;
  color: #282828
}

.landing-page-session-buttons-container {
  min-width: 49%;
  height: 100%
}

.landing-page-session-buttons {
  display: flex;
  flex-direction: column;
}

.landing-page-session-buttons button {
  border: none;
  height: 50px;
  min-width: 500px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #e4e4e4;
}

.landing-page-session-buttons button:hover {
  cursor: pointer;
  background-color: #D1D1D1;
}

.landing-page-session-buttons button:active {
  background-color: #B6B6B6;
}



