/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {box-sizing: border-box;}

 html, body{
  margin: 0;
  height: 100%;
 }

 h1 {
   opacity: 1.0;
 }

 ul {
   list-style: none;
 }

.form-container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 20%;
  height: 60%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.session-form {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
 }
.session-form label {
  padding: 5px;
}

 .session-form-buttons{
  display: flex;
  justify-content: center;
 }

input[type=text] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
}

input[type=password] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
}

label {

}

 .session-input {
  position: relative;
  font-size: 20px;
 }

 .session-button {
  padding: 8px;
  margin: 10px;
 }

 .session-form-errors {
  color: red;
  /* display: flex; */
 }

 .session-form-errors li {
  display: inline-block;
  flex-wrap: wrap;
 }

 .navlink-container {
  display: flex;
  justify-content: center;
 }

 .errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 5px;
 }

.navbar-container {
  display: flex;
  width: 100%;
  background-color: white;
  opacity: .9;
  justify-content: right;
}

