/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_reset
 */

 * {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #282828;;
  }


 textarea {
   resize: none;
   outline: none;
   border: none;
 }

 .window {
   z-index: 0;
   height: 100%;
   margin: 0;
 }
 
 .loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(92, 92, 92, 0.7);
  z-index: 9;
 }

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(238, 238, 238, 0.7);
  z-index: 9;
}


.modal-child {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
 html, body{
  margin: 0;
  height: 100%;
 }

 h1 {
   opacity: 1.0;
 }

 h3 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
 } 

 h4 {
   font-size: 20px;
   font-weight: 700;
 }

 ul {
   list-style: none;
 }


.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 60%;
  background-color: white;
  box-shadow: 2px 2px 5px 2px #D1D1D1;
  border-radius: 10px;
  opacity: 0.9;
}

.session-form {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
 }

 .session-form-heading {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .session-form-buttons{
  display: flex;
  justify-content: center;
 }

 .profile-link {
   color: #282828;
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
 }

input[type=text] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
}

input[type=password] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
}

label {
  font-size: 12px;
  font-weight: 400;
  color: #747474;
  padding: 12px;
  vertical-align: top;
}

 .session-input {
  position: relative;
  font-size: 20px;
 }

 .session-button {
  border: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #e4e4e4;
 }

 .session-button:hover {
  cursor: pointer;
  background-color: #D1D1D1;
}

.session-button:active {
  background-color: #B6B6B6;
}

 .demo-button {
  border: none;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #e4e4e4;
 }

 .demo-button:hover {
   cursor: pointer;
   background-color: #D1D1D1;
 }

 .demo-button:active {
   background-color: #B6B6B6;
 }

.switch-forms {
  border: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #e4e4e4;
}

.switch-forms:hover {
  cursor: pointer;
  background-color: #D1D1D1;
}

.switch-forms:active {
  background-color: #B6B6B6;
}

 .session-form-errors {
  color: red;
  text-align: center;
 }

 .error {
   color: red;
   text-align: center;
 }

 .session-form-errors li {
  display: inline-block;
  flex-wrap: wrap;
 }

 .navlink-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }

 .navlink-container p {
  margin-bottom: 10px;
 }

 .navlink {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
 }

 .errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
 }

.navbar-container {
  position: fixed;
  width: 100%;
  background-color: #F5F5F5;
  z-index: 10;

}

.ourspace {
  margin-left: 20px ;
  font-weight: 700;
  font-size: 32px;
  color: #282828;
}

.logo-navbar {
  height: 50px;
  width: 50px;
}

.navbar-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 2px -2px #D1D1D1;
  height: 75px;
}

.banner {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
}

.splashbutton {
  padding: 8px;
  margin: 10px;
  border-radius: 12px;
  font-weight: 700;
  width: 72px;
  background-color: #1473e6;
  border-color: #1473e6;
  color: white;
}

#root {
  height: 100%;
  margin: 0;
}
 
.ellipsis-button-background-nav {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: #F5F5F5;
}


.ellipsis-button-background-nav:hover {
  cursor: pointer;
  background-color: #D1D1D1;
}

.ellipsis-button-background-nav:active {
  background-color: #B6B6B6;
}