// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .profile-photo {
   position: absolute;
   bottom: 400px;
   height: 200px;
   width: 200px;
   background-color: white;
   background-size: cover;
   border-radius: 50%;
   border: solid #f5f5f5 5px;
   z-index: 9;
 }

 .profile-background-photo {
  height: 450px;
  width: 1200px;
  background-size: cover;
  border-radius: 10px;
  z-index: 5;
  margin-bottom: 5%;
  margin-top: 10px;
}

// .logo-pic {
//   background:  
//     // image: asset_url("ourspace.png") 
//   min-height: 1000px;
//   min-width: 1000px;
//   // object-fit: cover;
// }